# Models Directories
**/distilbert-base-uncased-finetuned-imdb-accelerate/
**/distilbert-base-uncased-finetuned-imdb/
**/bert-finetuned-ner/
**/marian-finetuned-kde4-en-to-ar/
**/mt5-small-finetuned-amazon-en-es/

# Training Checkpoints
**/checkpoint-*/

# Notebook & Environment Artifacts
**/.ipynb_checkpoints/
**/*.jsonl

# Large Weights Files (Fallback)
*.safetensors
*.bin